/** Add css rules here for your application. */
.introScreen {
	width: 95%;
	margin: 0 auto;
	
}

.contentWrapper  {
	margin: 40px auto;
	height: auto;
}

.screenTitle {
	font-weight: bold;
	font-size: xx-large;
}

.sortsScreen {
	width: 95%;
	margin: 0 auto;
}

.randomNumbersButtonPanel {
	margin-right: 40px;
}

.column {
	margin-right: 10px;
}

.randomNumberButton {
	display: block;
	width: 50px;
	margin-bottom: 10px;
}

.sortButton {
	display: block;
	width: 100px;
	height: 30px;
	margin-bottom: 10px;
}

.resetButton {
	display: block;
	width: 100px;
	height: 30px;
}
